
@media screen and (max-width: 667px) {
    .card-project {
        height: 470px !important;
    }
}

@media screen and (min-width: 600px ) and (max-width: 685px) {
    .form-content {
        width: 550px !important;
    }
}
@media screen and (min-width: 480px ) and (max-width: 600px) {
    .form-content {
        width: 450px !important;
    }
}
@media screen and (min-width: 300px ) and (max-width: 480px) {
    .form-content {
        width: 300px !important;
    }
}
@media screen and (max-width: 300px) {
    .form-content {
        width: 250px !important;
    }
}