<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/logo.png">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <link rel="stylesheet" href="/assets/css/all.css">
    <link rel="stylesheet" href="/assets/css/project.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/assets/css2?family=Poppins&display=swap');
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-primary pt-0">
        <div class="container-fluid" style="background-color: rgb(163, 175, 234);">
            <img src="../assets/img/logo.png" alt="" style="width: 50px; height: 100%; padding: 5px;">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 m-2 ms-3" >
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/project">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/testimonial">Testimonials</a>
                    </li>
                </ul>
                <button class="btn btn-outline-primary me-5 rounded-pill" type="submit">
                    <a href="/contact" id="btn-contact" style="text-decoration: none;">Contact me</a>
                </button>
            </div>
        </nav>
    <!-- End Navbar -->

    <!-- Start Projects -->
    <section id="projects-container">
        <div class="container">
            <div class="row text-center">
                <div class="col mt-4">
                    <h2 style="font-weight: bold;">My Projects</h2>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button class="btn btn-secondary me-md-2" type="button"> <a href="/form-project" style="color: white; text-decoration: none;">Add New Project</a></button>
            </div>
            <div class="row m-3">
                {{ range $index, $project := .Projects }}
                <div class="col-lg-4 col-md-6 col-sm-12 col-12" id="projects" style="display: flex; justify-content: center; align-items: center;">
                    <div class="card-project bg-opacity-50 m-3" style="width: 280px; height: 450px; box-shadow: 0 0 8px; background-color:rgb(222, 216, 255)">
                        <img src="../assets/img/project1.jpg" class="card-img-top" alt="...">
                        <div class="card-body p-2">
                            <h5 class="mb-0" style="font-weight: bold;">{{$project.ProjectName}} </h5>
                            <p class="card-text mb-1" style="font-size: 14px;">Durasi: {{$project.Duration}}</p>
                            <button type="button" id="btn-view" class="btn btn-outline-primary rounded-pill p-1 mb-3 bg-primary" style="width: 90px; font-size: 11px;"><a href="/detail-project/{{$index}}" target="_blank" style="text-decoration: none; color: white">view more</a></button>
                            <p class="card-text" style="font-size: 14px; height: 60px;">{{$project.Description}} </p>
                            <div class="card-content2">
                                <ul>
                                    <li>
                                        {{if $project.Nodejs}}
                                        <i class="fa-brands fa-node-js"></i>
                                        {{end}} {{if $project.Reactjs}}
                                        <i class="fa-brands fa-react"></i>
                                        {{end}} {{if $project.JavaScript}}
                                        <i class="fa-brands fa-java"></i>
                                        {{end}} {{if $project.Golang}}
                                        <i class="fa-brands fa-golang"></i> 
                                        {{end}}
                                    </li>
                                </ul>
                            </div>
                            <div class="d-flex gap-2 justify-content-evenly">
                                <form action="/formUpdate/{{$index}}" method="get" style="width: 50%;">
                                    <button class="btn btn-success" style="width: 100%;">Edit</button>
                                </form>
                                <form action="/deleteProject/{{$index}}" method="POST" style="width: 50%;">
                                    <button class="btn btn-danger" style="width: 100%;">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
    <!-- End Projects -->

    <!-- <div class="container-project">
        <h2 class="text-center mt-4" style="font-weight: bold;">My Projects</h2>
        <div class="row m-3 d-flex; justify-content-center" id="projects">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12" style="display: flex; justify-content: center; align-items: center;">
            
            </div>
        </div>
    </div> -->
    <script src="../assets/js/project2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>